.build {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
}

.App {
  overflow: hidden;
}

.bigcars,
.smallcars {
  position: absolute;
  top: 0;
  left: 0;
}

.woman {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 300px;
}

#sun {
  transform-box: fill-box;
  transform-origin: center;
}

.man {
  position: absolute;
  bottom: 40px;
  left: 50%;
  width: 200px;
  height: 200px;
}
.running {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 400px;
  height: 300px;
}

.woman > img,
.man > img,
.running > img {
  width: inherit;
  height: inherit;
}

.woman > img {
  transform: scale(1.2);
}

.bungalow {
  position: absolute;
  top: 0;
  right: 0;
}

.eagles,
.sparrow {
  position: absolute;
  top: -70px;
  right: 0;
}
.sparrow {
  opacity: 0;
}

.bungalow > img {
  width: 150px;
  height: 150px;
}
